<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
</head>

<body style="background-color: wheat;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="navbar-header">
            <a class="navbar-brand">STORY BOOKS</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/stories/public">Public Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li><a class="nav-link" href="/auth/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
        </ul>
    </nav>
    <br><br><br><br>
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- the actual blog post: title/author/date/content -->
                <h1>
                    <%=docs.title%>
                </h1>
                <p class="lead"><i class="fa fa-user"></i> by <a href="/stories/user/<%=docs.user%>">
                        <%=docs.username%>
                    </a>
                </p>
                <hr>
                <p><i class="fa fa-calendar"></i>
                    <%=docs.createdAt.toLocaleDateString()%>&nbsp;<%=docs.createdAt.toLocaleTimeString()%>
                </p>
                <p><i class="fa fa-tags"></i> Status: &ensp;<span class="badge badge-info">
                        <%=docs.status%>
                    </span></p>

                <hr>
                <p class="lead">
                    <%=docs.body.replace( /<(?:.|\n)*?>/gm, '')%>
                </p>
                <br />
            </div>
        </div>
    </div>
</body>

</html>